@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: black;
    --foreground: #ededed;
  }
  /* bg-[#070301] */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Segoe UI', sans-serif;
}

button {
  cursor: pointer;
}

@keyframes slideFromRight {
  from {
    transform: translateX(100vw);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Animation fadeInOut pour la flèche */
@keyframes fadeInOut {
  0%,
  100% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}
@layer utilities {
  .animate-fade-repeat {
    animation: fadeInOut 3s ease-in-out infinite;
  }
}